.componentHeader {
  width: 100%;
  height: 70px;
  padding: 0 10%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.componentHeaderTitle {
  font-size: 1.8rem;
  color: #1e2a38;
}

/* NAV */
.linksNavBar {
  display: flex;
}

.linksList {
  list-style: none;
  display: flex;
  gap: 25px;
}

.linkListItem {
}

.linkListLink {
  text-decoration: none;
  font-size: 1rem;
  color: #1e2a38;
  font-weight: 500;
  position: relative;
}

/* EFEITO HOVER */
.linkListLink::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -5px;
  background: #1e2a38;
  transition: width 0.3s ease;
}

.linkListLink:hover::after {
  width: 100%;
}
